
/** Estilos Generales **/

html {
    box-sizing: border-box;
}
*,*:before,*:after {
    box-sizing: inherit;
}
body {
    background-color: darkkhaki;
    }


/** este contenedor va a servir para muchas cosas, va a ser como el grid, el width auto, es para que se expanda la pantalla, otro estilo general es un spam, cada vez que se coloca un spam, se colorea de verde**/

    .contenedor {
        width: auto;
        margin: 40;
        padding: 0;

    }

    .span {
        color: lawngreen;
    }

    .ul {
        list-style: none;
    }

    .clear,
    .clear:after {
        content: '';
        clear: both;
        display: block;
    }

    .center {
        text-align: center;
    }

    /** grid **/

@media only screem and (min-width: 768px) {
    .contenedor-grid {
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 15px;
    }

    .contenedor-grid::after {
        content: '';
        display: block;
        clear: both;
    }

    [class*="columnas"] {
        padding: 0 10px;
        float: left;
    }

    .columnas1-4 {
        width: 25%;
    }
    .columnas2-4 {
        width: 50%;
    }

    .columnas3-4 {
        width: 75%;
    }

    .columnas1-3 {
        width: 33.3%;
    }
    .columnas2-3 {
        width: 66.6%;
    }

}


/** header (cabecera de la pagina) **/

div.hero {
    background-image: url(lagunas.jpg);
    background-position: center right;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}

div.hero2 {
    background-image: url(atardecer.jpg);
    background-position: center right;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}



/**FORMAS DE PAGO SE LE DA ESTILO**/




div.hero3 {
    background-image: url(dorado.jpg);
    background-position: center right;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}






/** diseño contacto**/

div.hero4 {
    background-image: url(claro.jpg);
    background-position: center right;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
}

h2 {
    margin-bottom: 20px;
}

input,textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;

}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#button {
    background: rgb(23, 51, 15);
    color: white;
    padding: 10px;
}
#button:hover {
    cursor: pointer;
}

@media (max-width: 480px) {
    form {
        width: 100%;
    }
}




h1 {
    text-align: center;
    text-transform: uppercase;
}

h5 {
    margin-left: 20px;
    margin-top: -10px;
    font-size: 20px;
   
}

.tarjetas {
    width: 30%;
    height: 30%;
    list-style: none;
    padding: 20px;
    box-sizing:border-box;
    flex-wrap: wrap;
    object-fit:cover;
    
    }
    .tarjetas img {
        width: 460px;
        height: 150%;
        max-width: 100%;
        border: 7px solid blue;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .mercado {
        width: 30%;
        height: 10%;
        list-style: none;
        padding: 20px;
        box-sizing:border-box;
        flex-wrap: wrap;
        object-fit:cover;
        
         }
    .mercado img {
        width: 460px;
        height: 150%;
        max-width: 100%;
        border: 7px solid blue;
        box-sizing: border-box;
        border-radius: 10%;
        margin-right: 150px;
        margin-top: 50px;
   }



/** estilo a la galeria**/

h1 {
    color: green;
        text-transform: uppercase;
        font-size: 40px;
        margin-bottom: 80px;
        text-align: center;
}
.linea {
    background-color: darkblue;
    height: 5px;
    width: 100%;
    display: block;
}


.galeria {
    width: 90%;
    margin: 30px;
    list-style: none;
    padding: 20px;
    box-sizing:border-box;
    flex-wrap: wrap;
    object-fit:cover;
    column-count: 5;
    }

    /**estilos del modal**/

    .modal {
        display: none;
    }
    .modal:target {
        display: block;
        position: fixed;
        background: rgba(0,0,0,0.8);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .modal h3 {
        color: white;
        font-size: 30px;
        text-align: center;
        margin: 15px 0;
    }
    .imagen {
        width: 100%;
        height: -100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .imagen a {
        color: white;
        font-size: 40px;
        text-decoration: none;
        margin: 0 10px;

    }

    .imagen a:nth-child(2) {
        margin: 0;
        height: 100%;
        flex-shrink: 2;

    }

    .imagen img {
        width: 460px;
        height: 150%;
        max-width: 100%;
        border: 7px solid blue;
        box-sizing: border-box;
    }

    .cerrar {
        display: block;
        background: white;
        width: 25px;
        height: 25px;
        margin: 25px auto;
        text-align: center;
        text-decoration: none;
        font-size: 30px;
        color:blue;
        padding: -10px;
         border-radius: 80px;
        line-height: 20px;

        }

   
    .galeria img {
        width: 220px;
        height: 220px;
        margin-top:  10px;
        border: 5px solid;
    }


    h4 {
        font-size: 30px;
        text-align: center;
        color: darkgreen;
        text-transform: uppercase;
    }
 
   

div.contenido-header{
    padding: 60px;
}

.logo {
    float: left;
    margin-left: -30px;
    margin-top: -40px;
   
}

img.logotipo {
    width: 250px;
    margin-left: 10px;
    border-radius: 60px;
    
   }

nav ul {
    float:right;
    margin-right: 70PX;
}

nav ul li{
    display: inline-block;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

/** aca esta para corregir lo del menu **/

nav ul li a {
    padding:  20px 10px;
    display: inline-block;
    outline: none;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1.2px;
    border: orange solid;
    border-radius: 10px;
    
}

nav ul li a:hover {
    border-bottom: 2px solid #223;
    
    }






    /** Animacion avanzada, significa que se adapte a un determinado formato de pantalla**/

     @media only screen and (max-width: 864px) {
            .logo {
                padding: 0;
            }

            
            .nav-wrapper {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: #fff;
                opacity: 0;
               
            }

            .nav-wrapper ul {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;

            }

            

            .nav-wrapper ul li {
                display: block;
                float: none;
                width: 100%;
                text-align: right;
                margin-bottom: 10px;
          }

          .nav-wrapper ul li:nth-child(1) a {
             transition-delay: 0.2s;

          }
          .nav-wrapper ul li:nth-child(2) a {
            transition-delay: 0.3s;

         }
         .nav-wrapper ul li:nth-child(3) a {
            transition-delay: 0.4s;

         }
         .nav-wrapper ul li:nth-child(4) a {
            transition-delay: 0.5s;

         }
         .nav-wrapper ul li:not(:first-child) {
                margin-left: 0;
        }

        .nav-wrapper ul li:no(:first-child) {
            margin-left: 0;
        }


        
         .nav-wrapper ul li a {
             padding: 10px 24px;
             opacity: 0;
             color: black;
             font-size: 14px;
             font-weight: 600;
             letter-spacing: 1.2px;
             transform: translateX(-20px);
             transition: all 0.2s ease;
            }
            .nav-btn {
                position: fixed;
                right: 10px;
                top: 10px;
                display: block;
                width: 48px;
                height: 48px;
                cursor: pointer;
                z-index: 9999;
                border-radius: 50%;
            }

            /**  este es el menu hamburgesa desactivado

            .nav-btn i {
                display: block;
                width: 5px;
                height: 5px;
                background:black;
                border-radius: 2px;
                margin-left: 14px;
            }
            **/
            .nav-btn i:nth-child(1) {
                margin-top: 16px;
            }
            .nav-btn i:nth-child(2) {
                margin-top: 4px;
                opacity: 1;
            }
            .nav-btn i:nth-child(3) {
                margin-top: 4px;

            }
     

     #nav:checked + .nav-btn {
         transform: rotate(45deg);
     }
     #nav:checked + .nav-btn i {
        background: #000;
        transition: transform 0.2s ease;
    }
    #nav:checked + .nav-btn i:nth-child(1){
        transform: translateY(6px) rotate(188deg);
    }
    #nav:checked + .nav-btn i:nth-child(2){
        opacity: 0;
    }
    #nav:checked + .nav-btn i:nth-child(3){
        transform: translateY(-6px) rotate(98deg);
    }

    #nav:checked ~ .nav-wrapper {
        z-index: 9990;
        opacity: 1;
    } 

    #nav:checked ~ .nav-wrapper ul li a {
        opacity: 1;
        transform: translateX(0);

    }

}   




    /** informacion se da estilo a la informacion**/

    .encabezado {
        color: green;
        text-transform: uppercase;
        font-size: 40px;
        margin-bottom: 80px;
        text-align: center;
    
    }

    .encabezado span {
        font-size: 50;
        display: table;
        margin: 0 auto;
        color: olive;
     }



     /** se alinio las fotos del encabezado**/

     
     img.cañas1 {
         height: 300px;
     }
     img.varios3 {
         height: 300px;

     }
     img.varios1 {
        height: 300px; 

    }

    

     blockquote {
         color: midnightblue;
         font-size: 30px;
         border-left: 10px solid #000;
         padding: 9px 20px;
    }


/** se corrigio el parrafo**/

    .contenido-principal {
        line-height: 40px;
        margin-left: 45%;
        margin-top: -35%;
        font-size: 30px;
    }


/** aca se corrigio la fota de las boyas, tamaño del 45%**/

    .efecto-imagen {
        transform: rotate(-5deg);
        width: 40%;
        margin-bottom: 100px;
        margin-left: 50px;
      }


      /** agregando estilo a las cajas, se pone un mayor div para que modifique los div de cada cosa, text-transform: uppercase es mayuscula**/

      div.informacion-cajas > div {
          text-align: center;
      }

      div.informacion-cajas > div img  {
        width: 30%;
        
    }

      @media only screen and (min-width (400px)) {

        div.informacion-cajas > div {
            width: 100%;
            float: left;
    }

     div.informacion-cajas > div:last-child {
        width: 100%;
           }

}

 @media only screen and (min-width (500px)) {

    div.informacion-cajas > div,
    div.informacion-cajas > div:last-child {
        width: 33.3%;
        }
}

div.informacion-cajas > div:nth-child   {
        background-color: #f2f2f2;
}

div.informacion-cajas > div:nth-child  {
    background-color: #f2f2f2;
}

div.informacion-cajas > div:nth-child  {
    background-color: #f2f2f2;
}

div.contenido-caja {
    padding: 10px 5px 5px 5px;
}

@media only screen and (min-width 980px) {
    div.contenido-caja {
        padding: 72px 0;
    }
}

div.contenido-caja h2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 30;
    text-align: center;
    

}

div.contenido-caja p {
    font-size: 25px;
    text-align: center;
    
}

.informacion-cajas.contenedor.clear {
    margin: 50px;
}

img.lineas{
    height: 300px;
}
img.nylon {
    height: 300px;

}
img.varios2 {
   height: 300px;

}




/** footer**/

footer {
    background-color: darkorange;
    
   }
@media only screen and (min-width: 768px) {
    footer .contenedor > div {
        width: 33.3%;
        float: left;
    }
}


footer .sociales  {
text-align: center;
font-size: 18px;
line-height: 14px;
text-transform: uppercase;
margin-top: 80px;
}

h6 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}









